

    <div class="text-center">
        <h1>Modification de vos permissions</h1><br>

        <p>Bonjour,</p>
        <p>Nous vous informons que les permissions de votre structure ont été modifiées.</p>
        <p>Connectez-vous afin de consulter vos nouvelles permissions.</p><br>

        <p>Cordialement,</p><br>

        <p>Votre gestionnaire Fitness Club</p>
    </div>

