

<div class="text-center">
<h1>Veuillez confirmer votre compte</h1><br>

    <p>Bonjour,</p>
    <p>Vous n'avez toujours pas confirmer votre adresse e-mail.</p>
    <p>Veuillez confirmer votre compte utilisateur en cliquant sur le lien suivant :</p><br><br>
    <a href="{{ signedUrl }}" class="btn btn-primary">Confirmer mon adresse email</a><br><br>
    <p>Un nouveau mot de passe vous sera demandé après votre première connexion.</p>
    <p>Ce lien expire dans une heure.</p><br>

    <p>Cordialement,</p><br>

    <p>Votre gestionnaire Fitness Club</p>
</div>

