<nav class="nav-bar">
    <div class="logo">
        <h1 class="logo-name"><span>Fitness</span> Club</h1>
    </div>
    <a href="{{ path('app_logout') }}" class="logout-btn">Se déconnecter</a>
</nav>