
    <div class="text-center">
        <h1>Modification des permissions d'une structure</h1><br>

        <p>Bonjour,</p>
        <p>Nous vous informons que les permissions d'une structure ont été modifiées.</p>
        <p>Il s'agit de la structure à l'adresse suivante:</p>
        <p><b> {{ structure.address }} </b></p>
        <p><b>{{ structure.zipcode }} {{ structure.city }}</b></p><br>
        <p>Cordialement,</p><br>

        <p>Votre gestionnaire Fitness Club</p>
    </div>
