

    <div class="text-center">
        <h1>Ajout d'une nouvelle structure à votre franchise</h1><br>

        <p>Bonjour,</p>
        <p>Nous vous informons qu'une nouvelle structure a été ajoutée à votre compte partenaire.</p>
        <p>Il s'agit de la structure à l'adresse suivante:</p>
        <p><b> {{ address }} </b></p>
        <p><b>{{ zipcode }} {{ city }}</b></p><br>
        <p>Cordialement,</p><br>

        <p>Votre gestionnaire Fitness Club</p>
    </div>

