{% extends 'base.html.twig' %}

{% block title %}Partenaires{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Liste des partenaires ({{ partners|length }})</h1>
    {{ form(searchForm) }}


    <form id="filters">
        <label for="filter-select">Filtrer</label>
        <select name="filters" id="filter-select">
            <option value="">Tous</option>
            <option value="1">Activés</option>
            <option value="0">Désactivés</option>
        </select>

    </form>
    <div id="content">
        {% include 'Partials/_content.html.twig' %}
    </div>
</div>
{% endblock %}
