body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


@import "~bootstrap/scss/bootstrap";


.flash-messages{
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    height: 4rem;
    width: 50%;
    background-color: #c1f1d5;
    border: solid 1px #27ae60;
    border-radius: 5px;
    opacity: 1;
    animation: flash 4s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 3;
    cursor: pointer;

    .flash-success-content{
        color: #27ae60;
        margin-bottom: 0;
        font-size: .9rem;
    }

    .flash-message-close{

        svg{
            fill: #27ae60 ;
        }

    }
}

.flash-danger-messages{
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    height: 4rem;
    width: 50%;
    background-color: #fad5d1;
    border: solid 1px #e74c3c;
    border-radius: 5px;
    opacity: 1;
    animation: flash 4s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 3;
    cursor: pointer;

    .flash-danger-content{
        color: #e74c3c;
        margin-bottom: 0;
        font-size: .9rem;
    }

    .flash-message-close{

        svg{
            fill: #e74c3c ;
        }

    }
}

@keyframes flash {
    0%{

        opacity: 0;
    }

    25%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}


@media screen and (max-width: 992px) {
    .flash-messages{
        min-height: 4rem;
        width: 90%;

        .flash-success-content{
            width: 70%;
        }

    }

    .flash-danger-messages{
        min-height: 4rem;
        width: 90%;

        .flash-danger-content{
            width: 70%;
        }

    }


}