
.main-container{
  background-color: #f3f9fc;
  position: absolute;
  top: 8vh;
  left: 20%;
  width: 80%;
  min-height: 92%;
  padding: 3rem;

}

h2{
  color: #3585bb;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;

}

.form-add{
  width: 595px;
  margin: 2rem auto;
  background-color: hsla(0,0%,100%,.92);
  border: 1px solid lightgray;
  border-radius: 7px;
  padding: 1rem 3rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  div{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;

    label{
      width: 25%;
      color: #4d4d4d;
      font-size: .9rem;
      font-weight: 600;
    }
  }

  .form-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

form{
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.form-select{
  font-size: .9rem;


}

input::placeholder{
  font-size: .9rem;
}

.submit-btn{
  background-color: #2ecc71;
  font-size: .9rem;
  border: solid 1px #27ae60;
  color: white;
  border-radius: 17px;
  line-height: 1.2rem;


  &:hover{
    background-color: #27ae60;
    border: solid 1px #27ae60;
    color: white;
  }
}

.parent-div{

  div{
    display: flex;
    flex-direction: row;
  }
}


.form-control{
  width: available;
  display: inline-block;
}


@media screen and (max-width: 992px) {

  .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    left: 0;
    right: 0;

  }

  .submit-btn{
    margin-top: 2rem;
  }

  .form-add{
    width: 100%;
  }

  .form-add div{
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
  }

  .form-add div label{
    width: 100%;
  }

}

@media screen and (max-width: 576px) {

  .main-container{
    padding: 1rem;
  }

  .form-add{
    padding: 1rem 1.5rem;
  }

  .submit-btn{
    width: 100%;
  }

}