.nav-bar{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 8vh;
  width: 100vw;
  padding: 0 2rem;
  background-color: white; /* #205375 */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #112B3C;
  border-bottom: solid 1px #0a1d29;
  z-index: 1;
  box-shadow: 5px 8px 20px 10px #0a1d29;

  .logo{

    .logo-name{
      font-size: 1.2rem;
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: 600;
      font-style: italic;


      span{

        color: #4c99cd;
      }
    }
  }

  a{
    text-decoration: none;
    border: solid 1px #378cc8;
    padding: 5px 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 17px;
    color: #378cc8;

    &:hover{
      color: white;
      border: solid 1px white;
      background-color: rgb(76, 153, 205);
    }
  }

}
