.main-container {
  background-color: #f3f9fc;
  position: absolute;
  top: 8vh;
  left: 20%;
  width: 80%;
  min-height: 92%;
  padding: 3rem 6rem;
}

h2{
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
}


h3{
  color: #2c70a0;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.permissions-div{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;

  .form-permissions{

    form{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1.5rem;

      //.submit-form{
      //  display: flex;
      //  align-items: center;
      //  justify-content: center;
      //  width: 100%;
      //  margin: 1.5rem 0;
      // }
    }

    button{
      margin: 0 auto;
      display: block;
    }
  }
}

.white-card{
  background-color: white;
  border: solid 1px lightgray;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;

  &:hover{
    box-shadow: 0 0 10px 2px lightgray;

  }

}

.infos-div{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  height: 30%;
  width: 100%;

  .info-partner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div{

      p{
        margin-bottom: .5rem;
        font-size: .9rem;
      }
    }

  }

  .partner-btns{
     display: flex;
    flex-direction: row;
    align-items: start;

    a{
      margin-left: .5rem;
      text-decoration: none;
    }
  }
}

.structures-div{

  h3{
    margin-bottom: 0.5rem;
  }
}



/* The Modal (background) */
.confirm-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-buttons {
  background-color: #fefefe;
  margin: 50vh auto;
  transform: translatey(-50%);
  width: 35%;
  padding: 20px;
  border: 1px solid #888;
  display: flex;
  flex-direction: column;

  .closing {

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .ac-closing, .md-closing{
      cursor: pointer;
    }
  }

  .modal-p{
    padding: 1.5rem 0;
  }

  .modal-buttons-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;


    button{
      margin-left: .5rem;
    }

  }

}

#submit-form{
  display: none;
}

#submit-modify{
  display: none;
}

.closing:hover,
.closing:focus {
  color: black;
  text-decoration: none;
}

#my-accordion{
  padding: 0 2rem;
  width: 100%;
}

/* Style the buttons that are used to open and close the accordion panel */
.my-accordion {
  cursor: pointer;
  width: 100%;
  border: none;
  border-color: lightgray;
  outline: none;
  transition: 1s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem 0;

  span{
    color: #2c70a0;
    font-weight: 600;
    font-size: 1.4rem;
    padding-bottom: .3rem;
    padding-left: 0;
  }

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active {
  background-color: white;
  border-bottom: solid 1px lightgray ;

  svg{
    transform: rotate(180deg);
  }

}

.my-accordion:hover{

}

/* Style the accordion panel. Note: hidden by default */
.my-panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.structures-nb{
  margin-top: 1rem;
  margin-bottom: 0;
  color: gray;
}

.structures-none{
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: gray;
}

.structures-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;

  .structures-card{

    border: solid 1px lightgray;
    margin: 1rem 0.5rem;
    min-height: 320px;
    width: 350px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    .structure-title{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      line-height: 2rem;
      width: 100%;

      h4{
        font-weight: 600;
        word-break: break-word;
      }

      .title-border{
        width: 100%;
        height: 1px;
        background-color: lightgray;
      }
    }

    .structure-info{
      display: flex;
      flex-direction: column;
      justify-content: start;
      margin: 2rem 1rem;
      height: 40%;
      width: 100%;

      p{
        margin-bottom: .3rem;

        span{
          font-weight: 600;
        }
      }


    }

    .structure-btn{
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }
}

.return-btn{
  display: block;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  text-decoration: none;
  color: #0a1e2a;
  border: solid 1px lightgray;
  width: fit-content;
  background-color: white;


  &:hover{
   // box-shadow: 0 0 10px 2px lightgray;
    color: #2c70a0;
  }
}

.bouton{
    border: none;
    line-height: 1.8rem;
    padding: .05rem 1.1rem;
    border-radius: 17px;


}

.bouton-bleu{
  color: white;
  background-color: #e9c949;
  border: solid 1px #e9c949;

  &:hover{
    background-color: #e3bb1c;

  }

}

a{
  text-decoration: none;

  &:hover{
    color: white;
  }
}

.bouton-bleu-b{
  color: #e9c949;
  background-color: white;
  border: solid 1px #e9c949;

  &:hover{
    background-color: #e3bb1c;
    color: white;
  }
}


.form-check{
  label{
    font-size: .9rem;
  }
}


.form-check-input:checked {
  background-color: #4c99cd;
  border-color: #4c99cd;
}

@media screen and (max-width: 992px) {

  .main-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    left: 0;
    right: 0;

  }

  .structures-container .structures-card{
    width: 80%;
    padding: 1rem;
    min-height: unset;
    max-height: unset;
    min-width: unset;
    max-width: unset;
  }


  .permissions-div .form-permissions button{
    width: 100%;
    margin-top: 2rem;
  }

  .permissions-div{
    width: 100%;

    .form-permissions{
      width: 100%;
    }
  }


}

@media screen and (max-width: 680px){
  .infos-div{
    width: 100%;
    flex-direction: column;
  }

  .infos-div .partner-btns{

    width: 100%;
    margin-top: 2rem;
    flex-direction: column;

    .bouton-bleu{
      width: 100%;
      margin-bottom: .5rem;
    }

    .bouton-bleu-b{
      width: 100%;
      margin-left: 0;
      text-align: center;
    }
  }




}

@media screen and (max-width: 576px) {

  .main-container{
    padding: 1rem;
  }

  .infos-div{
    width: 100%;
    flex-direction: column;
  }

  .permissions-div .form-permissions form{
    flex-direction: column;
    width: 100%;
    align-items: start;
    padding-left: 0;

  }

  .structures-container .structures-card{
    width: 100%;
  }
  .permissions-div .form-permissions button{
    width: 100%;
    margin-top: 2rem;
  }

  .my-accordion{

    span{
      font-size: 1.5rem;;
    }
  }



  .modal-buttons{
    width: 85%;
  }

}