
.main-container{
  background-color: #f3f9fc;
  position: absolute;
  top: 8vh;
  left: 25vw;
  width: 75vw;
  min-height: 92%;
  padding: 3rem;

}

@media screen and (max-width: 992px) {

  .main-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    left: 0;
    right: 0;

  }

}