.main-container {
  background-color: #112B3C/*#f3f9fc*/;
  position: absolute;
  top: 8vh;
  left: 0%;
  width: 100%;
  min-height: 92%;
  padding: 3rem 6rem;
}

.main-content-div{
  width: 460px;
  margin: 0 auto;
  background-color: #4c99cd;
  border: solid 1px #0a1d29;
  box-shadow: 0px 0px 15px 8px #0a1d29;
  padding: 3rem 5rem;
  min-height: 100%;
}

.gym-logo{
  margin: 1.3rem auto;
  display: block;
  fill: #3585bb;
}

.main-content{
  background-color: white;
  border: solid 1px #3585bb;
  box-shadow: 0px 0px 15px 8px #3585bb;
  min-height: 100%;

}

.white-card{
  background-color: white;
  border: solid 1px lightgray;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;

  &:hover{
    box-shadow: 0 0 10px 2px lightgray;

  }

}
.title{

  padding-bottom: 2rem ;
  word-break: break-word;
  border-bottom: solid 1px #3585bb;
  margin: .5rem 2rem;

  h2{
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    color: #3585bb;

  }

  h3{

    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;
    color: #3585bb /*#112B3C*/;

  }
}

.info-structure{
  padding: 1rem 2rem;

  div{
    margin-bottom: 1rem;

    h4{
      color: #2d719f;
      font-size: .9rem;
      font-weight: 600;
      margin-bottom: 0;
    }

    p{
      margin-bottom: 0;
      font-size: .9rem;
      font-weight: 600;
      color: #4d4d4d;
      word-break: break-word;
    }
  }

  ul{
    list-style: none;
    padding-left: 0;
    margin-top: 1rem;

    li{
      background-color: white;
      color: #112B3C;
      font-size: .9rem;
      font-weight: 600;
      padding: 0.3rem 1rem;
      border: solid 1px #4c99cd;
      margin-bottom: .4rem;
      text-align: center;
      border-radius: 17px;
      cursor: pointer;


      &:hover{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        color: #4c99cd;
      }
    }
  }
  .structures-list{
    margin-top: 1rem;

    .structure-content{
      border: solid 1px #4c99cd;
      border-top: unset;
      padding: 1rem;
      margin-bottom: 0;
      display: none;
      background-color: #d7e8f4;
      box-shadow: rgb(149, 172, 210) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

      div{
        margin-bottom: .5rem;
      }
    }
    ul{

      margin-top: .5rem;
      margin-bottom: 0;

    }
    .structure-div{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: .5rem 1rem;
      border-bottom: solid 1px #4c99cd;
      margin-bottom: 0;
      cursor: pointer;

      .blue-color{
        color: #4c99cd;
      }


    }
  }

}

svg{
  vertical-align: baseline;
}

.blue-fill{
  fill: #4c99cd;
  transform: rotate(180deg) ;
  animation: transform 1s ease;
}




@media screen and (max-width: 680px) {
  .main-container {
    padding: 3rem 1rem;
  }

  .main-content-div {
    width: 100%;
    padding: .5rem;
  }
  .main-content{
    box-shadow: unset;
  }
}