<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

  *{
    font-family: 'Poppins', sans-serif;
  }

  h1{
    color: black;
    text-align: center;
  }


</style>

<div class="text-center">

  <h1>Activation de votre compte</h1><br>

  <p>Bonjour,</p>
  <p>Nous vous informons que votre compte utilisateur Fitness Club a été activé.</p>
  <p>Contactez-nous pour en savoir plus ou connectez-vous sur la plateforme.</p>

  <p>Cordialement,</p><br>

  <p>Votre gestionnaire Fitness Club</p>
</div>
