

<div class="text-center">
    <h1>Réinitialisation du mot de passe</h1><br>

    <p>Bonjour,</p>
    <p>Vous avez demandé la réinitialisation de votre mot de passe.</p>
    <p>Cliquez sur le lien suivant :</p><br>
    <a href="{{ absolute_url(path('app_new_pass', {token : token}))}}" >Créer un nouveau mot de passe</a><br>

    <p>Ce lien expire dans trois heures.</p><br>

    <p>Cordialement,</p><br>

    <p>Votre gestionnaire Fitness Club</p>
</div>

